POSTGRES_PASSWORD=replace_with_random_secret
APP_DB_PASSWORD=replace_with_random_secret
ADMIN_DB_PASSWORD=replace_with_random_secret
MANAGER_PASSWORD=replace_with_random_secret
CASHIER_PASSWORD=replace_with_random_secret
AUDITOR_PASSWORD=replace_with_random_secret
HTTP_PORT=8083
