# setup.sh generates a local .env with a random password.
POSTGRES_PASSWORD=replace_with_random_secret
HTTP_PORT=8082
REDMINE_DB_PASSWORD=replace_with_another_random_secret
REDMINE_PORT=8085

REDMINE_ADMIN_PASSWORD=replace_with_random_admin_secret
STUDENT_A_PASSWORD=replace_with_random_student_secret
STUDENT_B_PASSWORD=replace_with_random_student_secret
STUDENT_C_PASSWORD=replace_with_random_student_secret
REDMINE_SECRET_KEY_BASE=replace_with_64_hex_characters
